@import "colors/everforest.css";

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0 2;
    font-family: MesloLGS NF, monospace;
}

/* The whole bar */
window#waybar {
    background: alpha(@theme-bar-bg, 0.95);
    font-family: MesloLGS NF, monospace;
    font-size: 13px;
    color: @theme-fg;
}

#workspaces {
    margin: 0;
}

#workspaces button {
    padding: 0;
    color: @theme-fg;
}

#workspaces button.visible {
    color: @theme-green;
}
#workspaces button.focused {
    /* background-color: @theme-green; */
    color: @theme-green;
    font-weight: bold;
    border: 1px solid @theme-green;
}

/* vertical line separator hack */
#language, #pulseaudio, #network, #memory, #temperature, #battery, #clock {
    padding-right: 8px;
    padding-left: 8px;
    border-right: 1px solid @theme-fg;
}

#pulseaudio.muted {
    color: @theme-red;
    /* color: @theme-red-dim; */
}

/* vim: set expandtab: sw=4
 */
