# swaymsg -t get_inputs
# man sway-input

# dell latitude 7440 touchpad
input "VEN_0488:00 0488:104A Touchpad" {
	click_method "clickfinger"
	accel_profile "flat"
}

# any connected keyboard. Could set this to "regular" to let other people's
# keyboards behave as expected
input type:keyboard {
	xkb_layout us 
}

# dell latitude 7440 keyboard
# cmk_ed_dh requires DreymaR/BigBagKbdTrixXKB
input "1:1:AT_Translated_Set_2_keyboard" {
	xkb_layout us 
	# xkb_variant cmk_ed_dh 
	xkb_variant colemak_dh 
	xkb_options caps:escape
}

input "13364:544:Keychron_K2_Pro_Keyboard" {
	xkb_layout us 
}

# Enable acceleration and slightly slow down trackball
input "20547:21570:Ploopy_Classic_Trackball_Mouse" {
    accel_profile adaptive
    pointer_accel -0.4
		scroll_factor 1.2
}

