# For multihead: give each a row of 10 workspaces and one mod key

# display 1 x
set $xmod $mod
set $wx1  "1"
set $wx2  "2"
set $wx3  "3"
set $wx4  "4"
set $wx5  "5"
set $wx6  "6"
set $wx7  "7"
set $wx8  "8"
set $wx9  "9"
set $wx10 "10"

# display 2 y
set $ymod $two
set $wy1  "11"
set $wy2  "12"
set $wy3  "13"
set $wy4  "14"
set $wy5  "15"
set $wy6  "16"
set $wy7  "17"
set $wy8  "18"
set $wy9  "19"
set $wy10 "20"

# Display agnositic
bindsym $mod+Tab workspace back_and_forth

bindsym $mod+bracketleft workspace prev
bindsym $mod+bracketright workspace next
bindsym $mod+Shift+bracketleft  exec ~/.config/sway/scripts/sway-move-next.sh -1
bindsym $mod+Shift+bracketright exec ~/.config/sway/scripts/sway-move-next.sh 1

# Switch to workspace
bindsym $xmod+1 workspace $wx1
bindsym $xmod+2 workspace $wx2
bindsym $xmod+3 workspace $wx3
bindsym $xmod+4 workspace $wx4
bindsym $xmod+5 workspace $wx5
bindsym $xmod+6 workspace $wx6
bindsym $xmod+7 workspace $wx7
bindsym $xmod+8 workspace $wx8
bindsym $xmod+9 workspace $wx9
bindsym $xmod+0 workspace $wx10
#
bindsym $ymod+1 workspace $wy1
bindsym $ymod+2 workspace $wy2
bindsym $ymod+3 workspace $wy3
bindsym $ymod+4 workspace $wy4
bindsym $ymod+5 workspace $wy5
bindsym $ymod+6 workspace $wy6
bindsym $ymod+7 workspace $wy7
bindsym $ymod+8 workspace $wy8
bindsym $ymod+9 workspace $wy9
bindsym $ymod+0 workspace $wy10

# Depart on a journey alongside focused container to workspace
bindsym $xmod+Shift+1 move container to workspace number $wx1; workspace $wx1
bindsym $xmod+Shift+2 move container to workspace number $wx2; workspace $wx2
bindsym $xmod+Shift+3 move container to workspace number $wx3; workspace $wx3
bindsym $xmod+Shift+4 move container to workspace number $wx4; workspace $wx4
bindsym $xmod+Shift+5 move container to workspace number $wx5; workspace $wx5
bindsym $xmod+Shift+6 move container to workspace number $wx6; workspace $wx6
bindsym $xmod+Shift+7 move container to workspace number $wx7; workspace $wx7
bindsym $xmod+Shift+8 move container to workspace number $wx8; workspace $wx8
bindsym $xmod+Shift+9 move container to workspace number $wx9; workspace $wx9
bindsym $xmod+Shift+0 move container to workspace number $wx10; workspace $wx10
#
bindsym $ymod+Shift+1 move container to workspace number $wy1; workspace $wy1
bindsym $ymod+Shift+2 move container to workspace number $wy2; workspace $wy2
bindsym $ymod+Shift+3 move container to workspace number $wy3; workspace $wy3
bindsym $ymod+Shift+4 move container to workspace number $wy4; workspace $wy4
bindsym $ymod+Shift+5 move container to workspace number $wy5; workspace $wy5
bindsym $ymod+Shift+6 move container to workspace number $wy6; workspace $wy6
bindsym $ymod+Shift+7 move container to workspace number $wy7; workspace $wy7
bindsym $ymod+Shift+8 move container to workspace number $wy8; workspace $wy8
bindsym $ymod+Shift+9 move container to workspace number $wy9; workspace $wy9
bindsym $ymod+Shift+0 move container to workspace number $wy10; workspace $wy10

# Ship focused container to workspace 
bindsym $xmod+$ctr+1 move container to workspace number $wx1 
bindsym $xmod+$ctr+2 move container to workspace number $wx2 
bindsym $xmod+$ctr+3 move container to workspace number $wx3 
bindsym $xmod+$ctr+4 move container to workspace number $wx4 
bindsym $xmod+$ctr+5 move container to workspace number $wx5 
bindsym $xmod+$ctr+6 move container to workspace number $wx6 
bindsym $xmod+$ctr+7 move container to workspace number $wx7 
bindsym $xmod+$ctr+8 move container to workspace number $wx8 
bindsym $xmod+$ctr+9 move container to workspace number $wx9 
bindsym $xmod+$ctr+0 move container to workspace number $wx10
#
bindsym $ymod+$ctr+1 move container to workspace number $wy1 
bindsym $ymod+$ctr+2 move container to workspace number $wy2 
bindsym $ymod+$ctr+3 move container to workspace number $wy3 
bindsym $ymod+$ctr+4 move container to workspace number $wy4 
bindsym $ymod+$ctr+5 move container to workspace number $wy5 
bindsym $ymod+$ctr+6 move container to workspace number $wy6 
bindsym $ymod+$ctr+7 move container to workspace number $wy7 
bindsym $ymod+$ctr+8 move container to workspace number $wy8 
bindsym $ymod+$ctr+9 move container to workspace number $wy9 
bindsym $ymod+$ctr+0 move container to workspace number $wy10

# vim: set ft=i3config:
